.root {
  -fx-font-size: 10pt;
}

.label {
  -fx-font-size: 13pt;
}

.button {
  -fx-font-size: 10pt;
  -fx-min-width: 100pt;
}

.check-box {
  -fx-font-size: 12pt;
}

VBox {
  -fx-background-color: #343434;;
}

.separator {
  -fx-padding: 10pt 0;
}

.textbox {
  -fx-max-width: 150pt;
}